<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Personal Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/stylesheet.css}"/>
    </head>
    <body>
        <h1>Something was wrong</h1>
        <h2>Our engineers are on it</h2>
        <a class="button" href="/home">Go to home</a>
    </body>
</html>
