<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Personal Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/stylesheet.css}"/>
    </head>
    <body>
        <h1>Personal Blog</h1>
        <table>
            <tbody>
                <tr th:each="p : ${posts}">
                    <td class="title">
                        <a th:href="@{'article/'+${p.getId}}"
                           th:text="${p.getTitle}">Articulo</a>
                    </td>
                    <td th:text="${p.getDate.toString}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
